.list-view {
    -fx-background-color:#2A2C32;
    -fx-background-radius: 10 10 0 0;
    -fx-text-fill: #DCDCDC;
}
.list-view .column-header-background{
    -fx-background-color:#2A2C32;
    -fx-background-insets: 0 0 10 0;
    -fx-background-radius: 14;
}
.list-view .column-header, list-view filler{
    -fx-size: 50px;
    -fx-border-width: 0 0 10 0;
    -fx-background-color:transparent;

}
.list-view .column-header .label{
    -fx-text-fill: #FFFFFF;
}
