@font-face{
    font-family: 'Kanit';
    src: url("../fonts/KanitBold.ttf");
}

@font-face{
    font-family: 'Inter';
    src: url("../fonts/Inter-SemiBold.ttf");
}

.check-box .box {

-fx-background-color: #0D1A2D;
-fx-border-color:#0D1A2D;
-fx-border-radius:3px; 

}

.check-box:selected .mark {

-fx-background-color: white;

}

.util-bar:hover{
    -fx-opacity: 0.7;
}

.exit{
   -fx-background-color: transparent;
}

.sign-in{
   -fx-background-color: linear-gradient(to right,#F9678A , #9855FF  );
   -fx-background-radius: 200;
   -fx-font-family: "Inter";
   -fx-font-size:13;
   -fx-font-weight: bolder;
}
.sign-in:hover{
   -fx-background-color: linear-gradient(to right, #FF4874 ,#8F47FF );
}

.sign-in:pressed{
   -fx-background-color: linear-gradient(to right, #FE3666 ,#8A40FF );
}

.hover:hover{
   -fx-text-fill: #17b8e5;
}

.Title {
    -fx-font-family: "Kanit";
    -fx-font-weight: bolder;
}

.Text {
    -fx-font-family: "Inter";
}

.Text-field {
    -fx-text-fill: White;
    -fx-background-color: #2A2C32;
}