@font-face{
    font-family: 'Kanit';
    src: url("../fonts/KanitRegular.ttf");
}

.Text {
    -fx-font-family: "Kanit";
}

.check-box .box {

-fx-background-color: White;
-fx-border-color: white;
-fx-border-radius:3px; 

}

.check-box:selected .mark {

-fx-background-color: linear-gradient(to right,#F9678A , #9855FF  );

}
.button-selected{
-fx-background-color:#27282B;
-fx-border-radius: 50px;
}
.sign-in{
   -fx-background-color: linear-gradient(to right,#F9678A , #9855FF  );
   -fx-background-radius: 200;
   -fx-font-family: "Kanit";
   -fx-font-size:13;
}
.sign-in:hover{
   -fx-background-color: linear-gradient(to right, #FF4874 ,#8F47FF );
}

.sign-in:pressed{
   -fx-background-color: linear-gradient(to right, #FE3666 ,#8A40FF );
}

.hover:hover{
   -fx-font-size:14;
   -fx-text-fill: #50c2ff;
}

.decorated-window{
   -fx-background-color: #121212;
   -fx-background-radius: 18px;
}

.util-bar:hover{
    -fx-opacity: 0.7;
}

.exit{
   -fx-background-color: transparent;
}
.Profile-Circle{
    -fx-background-radius: 5;
}